{#
SPDX-License-Identifier: Apache-2.0
SPDX-FileCopyrightText: 2026 Alexander Mohr
#}

{% for expression in spdx_expressions %}
{{ tag }}SPDX-License-Identifier: {{ expression }}
{% endfor %}
{% for copyright_line in copyright_lines %}
{{ tag }}SPDX-FileCopyrightText: {{ copyright_line }}
{% endfor %}
